---
---

body {
  font-family: serif;
}

.webring {
  margin-top: 2rem;
}

.webring h2 {
  font-size: 1.2rem;
}

.webring .articles {
  width: 100%;
  display: flex;
}

.webring .title {
  margin: 0;
}

.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #333;
  margin: 0 0.5rem;
}

@media(max-width: 640px) {
  .webring .articles {
    flex-direction: column;
  } 
  .webring .article {
    margin: 0.5rem 0;
  }
}

.webring .article:first-child {
  margin-left: 0;
}

.webring .article:last-child {
  margin-right: 0;
}

.webring .summary {
  font-size: 0.8rem;
  flex: 1 1 0;
}

.webring .attribution {
  float: right;
  font-size: 0.8rem;
  color: #555;
  line-height: 3;
}

dl dt {
  font-weight: bold;
}
dl dd {
  text-indent: 1em;
}
