{{ define "main" }}
{{ if .Menus }}
<nav class="post-navigation">
	{{ range .Menus }}
	<a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
	{{ end }}
</nav>
{{ end }}

<article class="post h-entry">
	<header class="post-header">
		<h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ trim .Title  " " }}</h1>
	</header>
	<div class="content e-content">
		{{ .Content }}
	</div>
	{{ partial "postInfo.html" . }}
</article>

{{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
{{ partial "paginationPost.html" . }}
{{ end }}

{{ partial "custom-webring.html" }}

{{ end }}
