<footer>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img alt="Creative Commons License" style="border-width:0"
				      src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
	</a>
	<br>
	The content for this site is
	<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
	<br>
	The <a href="https://git.sr.ht/~huyngo/blog">code for this site</a>
	is <a href="https://opensource.org/licenses/MIT">MIT</a>.
</footer>
